<!-- source template: auth/usermanager_modify.html -->
{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card {{inpanel['type']}} mb-3">
      <div class="card-header">{{inpanel['title']}}
      </div>
      <div class="card-body">
        {% if inpanel['content'] is string %}
          {{inpanel['content']}}
        {% else %}
          {% for line in inpanel['content'] %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.username.label }}:</TD>
        <TD>{{ form.username }}</TD>
      </TR><TR>
        <TD>{{ form.email.label }}:</TD>
        <TD>{{ form.email }}</TD>
      </TR><TR>
        <TD>{{ form.role.label }}:</TD>
        <TD>{{ form.role }}</TD>
      </TR><TR>
        <TD>{{ form.refresh.label }}:</TD>
        <TD>{{ form.refresh }}</TD>
      </TR><TR>
      {% if admin %}
        <TD>{{ form.isenabled.label }}:</TD>
        <TD>{{ form.isenabled }}</TD>
        </TR><TR>
      {% endif %}
        <TD>{{ form.nopassword.label }}:</TD>
        <TD>{{ form.nopassword }}</TD>
        </TR><TR>
        <TD>{{ form.password.label }}:</TD>
        <TD>{{ form.password }}</TD>
      </TR><TR>
        <TD>{{ form.confirm.label }}:</TD>
        <TD>{{ form.confirm }}</TD>
      </TR><TR>
        <TD>{{ form.gid }}</TD>
      </TR>
      </TABLE>
      <div>
      <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
