<!-- source template: waddashboard/home.html -->
{% extends "layout.html" %}
{% block content %}
<h2> {{ title }} </h2>
<div class="card-columns wad-gutter">
{% if menustoprow %}
{% for menu in menustoprow %}
    <div class="card panel-menu mb-3">
      <div class="card-header">{{ menu['title'] }}
      </div>
      <div class="card-body">
       {% for item in menu['items'] %}
        <ul class="collapsibleList">
        <li>
        <a href="{{ item['href'] }}">
            {{ item['label'] }} </a> <br>
        {% if item['subitems'] | count >0 %}
            <ul>
            {% for sub in item['subitems'] %}
                <li><a href="{{ sub['href'] }}">
                    {{ sub['label'] }} </a> 
                </li>
            {% endfor %}
            </ul>    
        {% endif %}
        </li></ul>
       {% endfor %}
      </div>
    </div>
{% endfor %}
{% endif %}
</div>
<div class="card-columns wad-gutter">
{% for menu in menus %}
    <div class="card panel-menu mb-3">
      <div class="card-header">{{ menu['title'] }}
      </div>
      <div class="card-body">
       {% for item in menu['items'] %}
        <ul class="collapsibleList">
        <li>
        <a href="{{ item['href'] }}">
            {{ item['label'] }} </a> <br>
        {% if item['subitems'] | count >0 %}
            <ul>
            {% for sub in item['subitems'] %}
                <li><a href="{{ sub['href'] }}">
                    {{ sub['label'] }} </a> 
                </li>
            {% endfor %}
            </ul>    
        {% endif %}
        </li></ul>
       {% endfor %}
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
