<!-- source template: elements/picker.html -->
{% if label %}
{{label}}
{% endif %}
<select id="{{name}}" name="{{name}}">
{% for r in idname %}
  {% if sid == r[0] %}
    <option selected value="{{r[0]}}">{{r[1]}}</option>
  {% else %}
    <option value="{{r[0]}}">{{r[1]}}</option>
  {% endif %}
{% endfor %}
</select>
{% if fun %}
  <script> 
  jQuery(function () { jQuery("#{{name}}").change(function () {
    {{fun}}
    });
  })
  </script>
{% endif %}