<!-- source template: 404.html -->
{% block title %}Page Not Found{% endblock %}
{% block body %}
  <h1>Page Not Found</h1>
  <p>What you were looking for is just not there.</p>
  <p><a href="{{ url_for('wadconfig.home') }}">go to wadconfig</a></p>
{% endblock %}
